*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 14px;
    overflow-x: hidden; 
}

.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    min-width: 320px; 
    overflow-x: hidden; 
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 18px;
}

.header {
    padding-top: 40px;
    padding-bottom: 95px;
    background-color: rgba(217, 217, 217, 0.1);
}

    .header > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.graficlogo {
    max-width: 100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

    .topnav a {
        color: #ffffff;
        padding: 14px 16px;
        font-size: 15px;
    }

        .topnav a:hover {
            border-bottom: 2px solid rgb(255, 255, 255);
        }

        .topnav a.icon {
            display: none;
        }

.hero {
    padding-top: 133px;
    padding-bottom: 245px;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1) ), url("./images/main_photo.png");
    background-repeat: no-repeat;
    background-position: right;
}

.hero-title {
    max-width: 640px;
    width: 100%;
    font-size: 64px;
    margin-bottom: 60px;
}

button {
    display: inline-block;
    padding: 16px 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #000000;
    background-color: #faff00;
    border: none;
    border-radius: 30px;
}

    button:hover {
        background-color: #4b4c15;
    }

    button:active {
        background-color: #faff00;
        transform: translateY(4px);
    }

.reasons {
    padding-top: 180px;
    padding-bottom: 250px;
}

.advantages {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 86px 117px;
}

.advantages_item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-us {
    padding-bottom: 250px;
}

    .about-us > .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 118px;
    }

.about-us-text {
    margin-top: 65px;
}

    .about-us-text p {
        margin-bottom: 16px;
        line-height: 161%;
    }

.footer {
    padding-bottom: 80px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_item {
    width: 276px;
}

    .footer_item > img {
        margin-bottom: 26px;
    }

.footer-title {
    margin-bottom: 30px;
}

.social {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
}

    .social a {
        padding: 10px;
    }

        .social a:hover {
            background-color: #201c1c;
            border-radius: 50%;
        }


.mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #111;
    width: 100%;
    padding: 15px;
    z-index: 1;
}

    .mobile-menu a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

        .mobile-menu a:hover {
            background-color: #444;
        }


@media screen and (max-width: 1000px) {
    .mobile-menu {
        display: block;
    }
}
